<a href="https://colab.research.google.com/github/gmarcelo94/SIC-Artificial-Intelligence/blob/main/QUIZ_0101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Quiz #0101
Provide the answers in Python code:
1). In the class A, students' heights are:

161.5
165.9
168.7
163.1
170.8
167.2

Calculate the mean height by using Python 'list' and 'for' loop:

In [ ]:
Aheights = [161.5, 165.9, 168.7, 163.1, 170.8, 167.2]

avg_Aheight = sum(Aheights)/len(Aheights)
print(avg_Aheight)

166.20000000000002

In [ ]:
#or
Aheights = [161.5, 165.9, 168.7, 163.1, 170.8, 167.2]

sum = 0
for a in Aheights: # runs throught he whole list
  sum += a 
print(sum/len(Aheights))

166.20000000000002

2). In the class B, students' heights are:

172.5
162.9
161.7
160.1
161.8
169.2

Calculate the mean height by using Python 'list' and 'for' loop:

In [ ]:
Bheights = [172.5, 162.9, 161.7, 160.1, 161.8, 169.2]

avg_Bheight = sum(Bheights)/len(Bheights)
print(avg_Bheight)

164.70000000000002

In [ ]:
#or
Bheights = [172.5, 162.9, 161.7, 160.1, 161.8, 169.2]

sum = 0
for b in Bheights: # runs throught he whole list
  sum += b 
print(sum/len(Bheights))

164.70000000000002

3). The class A and the class B are joined together to form the class AB. Calculate the mean height by using Python 'list' and 'for' loop:

In [ ]:
ABheights = Aheights + Bheights
print(ABheights)

avg_ABheight = sum(ABheights)/len(ABheights)
print(avg_ABheight)

[161.5, 165.9, 168.7, 163.1, 170.8, 167.2, 172.5, 162.9, 161.7, 160.1, 161.8, 169.2]
165.45000000000002

In [ ]:
#or
Bheights = Aheights + Bheights

sum = 0
for ab in ABheights: # runs throught he whole list
  sum += ab 
print(sum/len(ABheights))

165.45000000000002

4). Sort the heights of the class AB.

In [ ]:
ABheights.sort()
AB=set(ABheights)
print(ABheights)
print(AB)

[160.1, 161.5, 161.7, 161.8, 162.9, 163.1, 165.9, 167.2, 168.7, 169.2, 170.8, 172.5]
{160.1, 161.5, 162.9, 161.7, 161.8, 163.1, 165.9, 167.2, 168.7, 169.2, 170.8, 172.5}

5). The class C is formed with students with the height less than 165. Make a list 'C' containing the heights of the class C.

In [ ]:
Cheights = []
for ab in ABheights:
  if (ab < 165):
    Cheights.append(ab)
print(Cheights)

[160.1, 161.5, 161.7, 161.8, 162.9, 163.1]

6). The class D is formed with students with the height larger than 160 and less than 170. Make a list containing the heights of the class D.

In [ ]:
Dheights = []
for ab in ABheights:
  if (ab < 170 and  ab > 160):
    Dheights.append(ab)
print(Dheights)

[160.1, 161.5, 161.7, 161.8, 162.9, 163.1, 165.9, 167.2, 168.7, 169.2]